<h2 mat-dialog-title>Create a Zone</h2>
<mat-dialog-content>
  <form [formGroup]='mapForm'>
    <div class="row" *ngIf="addressVisible">
      <div class="col-12">
        <mat-form-field class="full-width">
          <input  matInput placeholder="Address" formControlName='address' #origin>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Latitude" formControlName='lat' type="number">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Longtitude" formControlName='lng' type="number">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input  matInput placeholder="Radius (meters)" formControlName='radius' type="number">
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="Zone Type" formControlName="zType">
            <mat-option *ngFor="let type of zTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button type="submit" mat-button [disabled]="mapForm.invalid" [mat-dialog-close]="mapForm">Submit</button>
</mat-dialog-actions>
