<h2 class="fancy-text">{{ title }}</h2>
<div>
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    (mapClick)="mapClicked($event)">

    <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [iconUrl]="this.mapTypeToIcon(m.zType)"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window>
        <strong>{{m.zType}}</strong>
        <button mat-icon-button color="primary" (click)="editZone(m)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeZone(m)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </agm-info-window>

      <agm-circle [latitude]="m.lat" [longitude]="m.lng"
                  [radius]="m.radius"
                  [fillColor]="this.mapTypeToColor(m.zType)"
                  [circleDraggable]="false"
                  [editable]="false">
      </agm-circle>
    </agm-marker>


  </agm-map>
</div>
<div>
  <button mat-fab class="custom-button" (click)="openMapDialog()"><mat-icon>add</mat-icon></button>
</div>
